<ion-header>
  <ion-toolbar>
    <ion-title>Categorías</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToConfiguration()">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let category of categories; index as i">
        <ion-button
          expand="block"
          [style.background]="category.color"
          (click)="goToCategory(category.id)"
        >
          {{ category.name }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
